<div class="container mt-5">
  <h2 class="text-center mb-4">Crear Reserva</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="p-4 shadow rounded bg-light">
    <div class="form-group mb-3">
      <label for="cliente">Cliente</label>
      <input type="text" id="cliente" formControlName="cliente" class="form-control" placeholder="Nombre del Cliente">
    </div>
    
    <div class="form-group mb-3">
      <label for="servicioSolicitado">Servicio Solicitado</label>
      <input type="text" id="servicioSolicitado" formControlName="servicioSolicitado" class="form-control" placeholder="Tipo de Servicio">
    </div>
    
    <div class="form-group mb-3">
      <label for="profesional">Profesional</label>
      <input type="text" id="profesional" formControlName="profesional" class="form-control" placeholder="Profesional">
    </div>

    <div class="form-group mb-3">
      <label for="fecha">Fecha</label>
      <input type="date" id="fecha" formControlName="fecha" class="form-control">
    </div>

    <div class="form-group mb-3">
      <label for="hora">Hora</label>
      <input type="time" id="hora" formControlName="hora" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary w-100">Crear Reserva</button>
  </form>
</div>
